body 
{
    background-image: url("https://dylancarfley.github.io/StaticRepo/static/images/bg.jpg");
}
img 
{
    border: 3px solid black;
}
.card
{
    margin-top: 5em;
    font-family: 'Marck Script', cursive;
    background-image: url("https://dylancarfley.github.io/StaticRepo/static/images/paper.jpg");
}
nav
{
    background-image: url("https://dylancarfley.github.io/StaticRepo/static/images/paper.jpg");
}
